.pazaakPlayerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 40%;
}

.cardsContainer {
  --height: 6rem;
  
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5rem;
}

@media screen and (min-width: 900px) {
  .pazaakPlayerContainer {
    width: 50%;
    height: 100%;

    &:last-child {
      align-items: flex-end;
    }
  }
  
  .cardsContainer {
    height: 100%;
  }
}