.decksGroup {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: flex-start;
}

.deckContainer {
	width: 100%;
}

.stackDeck {
	--marginOffset: var(--offset);

	position: absolute;
	margin-left: var(--marginOffset);
	box-shadow: var(--marginOffset) 0 0.001rem #22222211;
}

.playerDecksGroup {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
	overflow: auto;
}

.tableDeckContainer {
	width: 100%;
	height: 25%;
	display: flex;
	flex-direction: row-reverse;
	flex-shrink: 0;

	& > * {
		width: 50%;
		/* text-align: center; */
	}
}

.tableCardsContainer {
	width: 50%;
	margin: 0 auto;
}

@media screen and (min-width: 900px) {
	.decksGroup {
		height: 100%;
	}
	.playerDecksGroup {
		flex-direction: row;
		height: 100%;
	}
}
