.cardContainer {
  --initialAngleY: 0deg;
  --angleY: var(--initialAngleY);
  --cardHeight: var(--height, 12rem);

  position: relative;
  width: calc(var(--cardHeight) * 0.7);
  height: var(--cardHeight);
  transition: all 300ms linear;
  transform-style: preserve-3d;
  perspective: 1000px;
  transform: rotateY(var(--angleY));

  & > div {
    border-radius: 8px;
  }

  &.turned {
    --initialAngleY: 180deg;
  }
}

.turnable {
  &:hover {
    --angleY: calc(var(--initialAngleY) + 180deg);
  }
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 500px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
