.cardContainer {
  --width: calc(var(--height, 8rem) * 2/3);

  position: relative;
  width: var(--width);
  height: var(--height);
  transition: all 300ms linear;
  transform-style: preserve-3d;
  perspective: 1000px;

  &:hover {
    transform: rotateY(180deg);
  }
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: blue;
  perspective: 500px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  overflow: hidden;
}